* {
    margin: 0;
}

.UserName {
    display: flex;
    flex-wrap: wrap;

    margin-left: 15px;
}

.UserName h1 {
    width: 400px;
    margin: 15px 0;

    color: #3E4462;
}

.UserName p {
    color: #7E7E7E;
}