* {
    margin: 0;
}

/* Menu de ícones*/


.PreferenceMenu ul {
    width: calc(100% - 30px);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
    list-style: none;
}

.PreferenceMenu li {
    margin-top: 24px;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: #E84C4F;
}

/* Card branco */

.WhiteCard {
    display: flex;
    width: 74px;
    height: 74px;
    background-color: white;
    border-radius: 8px;
}

/* Nome dos Cards */

.CardNames {
    display: flex;
}

.CardNames p {
    margin-top: 8px;
    margin-left: 15px;
    width: 74px;
    align-items: center;
    text-align: center;
    color: #3E4462;
}

/* Media Query */

@media (max-width: 320px) {
    .PreferenceMenu ul {
        width: calc(100% - 25px);
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        justify-content: space-between;
        list-style: none;
    }
    
    .PreferenceMenu li {
        margin-top: 12px;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        color: #E84C4F;
    }

    .WhiteCard {
        display: flex;
        width: 60px;
        height: 60px;
        background-color: white;
        border-radius: 8px;
        margin-bottom: 12px;
    }

    .CardNames p {
        justify-content: space-between;
        margin: 0 auto;

        font-size: 14px;
        color: #3E4462;
    }

}

@media (min-width: 425px) {
    .CardNames p {
        justify-content: space-between;
        margin: 0 auto;

        font-size: 16px;
        color: #3E4462;
    }

    .WhiteCard {
        margin-bottom: 12px;
    }
}